<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="flourQuote" connectionString="metadata=res://*/Quote.csdl|res://*/Quote.ssdl|res://*/Quote.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-I0DQ4OI\SQLEXPRESS;initial catalog=flour;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="flourEntities" connectionString="metadata=res://*/job.csdl|res://*/job.ssdl|res://*/job.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-I0DQ4OI\SQLEXPRESS;initial catalog=flour;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="flourEntities1" connectionString="metadata=res://*/jobs.csdl|res://*/jobs.ssdl|res://*/jobs.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-I0DQ4OI\SQLEXPRESS;initial catalog=flour;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="flourEntities2" connectionString="metadata=res://*/jobbs.csdl|res://*/jobbs.ssdl|res://*/jobbs.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-I0DQ4OI\SQLEXPRESS;initial catalog=flour;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>